.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  padding: 2rem 0 0;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.btn {
  background-color: #31c28d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 60px;
  padding: 15px 50px;
  text-decoration: none;
}

.btn:hover {
  background-color: #308a69;
}

.empty {
  align-items: center;
  display: flex;
  height: calc(100vh - 102px);
  justify-content: center;
}

.emptyTitle {
  color: #31c28d;
  font-size: 2rem;
}
