.container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

aside {
  align-items: start;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 102px);
  overflow-x: scroll;
  padding: 0 1.5rem;
}

aside h2 {
  border-bottom: 1px solid #b0b3bb;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 15px 0;
  width: 100%;
}

aside button {
  background-color: transparent;
  border: none;
  color: #323232;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.2rem 0;
  white-space: nowrap;
}

.product button {
  background-color: #31c28d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 0;
  width: 100%;
}

aside button:hover {
  font-weight: 700;
}

section {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  font-size: 1.6rem;
  justify-content: space-evenly;
  max-height: calc(100vh - 102px);
  overflow-x: scroll;
  width: calc(100vw - 17.2rem);
}

.product {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 20px;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
  width: 280px;
}

.product img {
  align-self: center;
  height: 200px;
  margin-bottom: 10px;
  width: 175px;
}

.product a {
  gap: 20px;
  text-decoration: none;
}

.product h2 {
  color: black;
  overflow: hidden;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 270px;
}

.product h3 {
  color: #444955;
}

.product h3 span {
  color: #b0b3bb;
}
