header {
  align-items: center;
  background-color: #003be5;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.searchButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchInput {
  background-color: transparent;
  border: none;
  color: #b0b3bb;
  font-size: 1.2rem;
  font-weight: 300;
  outline: none;
}

.search {
  background-color: white;
  display: flex;
  padding: 0.2rem;
}
