header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003BE5;
  padding: 1rem 2rem;

}

.searchButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchInput {
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 300;
  color: #B0B3BB;
  border: none;
  outline: none;
}

.search {
  display: flex;
  background-color: #ffffff;
  padding: 0.2rem;
}
