.container {
  align-items: center;
  border-top: 1px solid #b0b3bb;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 2rem;
  width: 80vw;
}

.title {
  font-size: 1.2rem;
  white-space: break-spaces;
  width: 300px;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.btnQuantity {
  color: #b0b3bb;
}

.btnQuantity:hover {
  color: #444955;
}

.btnRemove {
  color: black;
}

.btnRemove:hover {
  color: red;
}
